[run]
source = spamanalyzer/

[report]
show_missing = True
omit =
    spamanalyzer/__main__.py
    spamanalyzer/display.py

exclude_lines =
    pragma: no cover
    except OSError
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: