[run]
source = src/

[report]
show_missing = True
omit =
    src/app/__main__.py
    src/app/display.py

exclude_lines =
    pragma: no cover
    except OSError
    def __repr__
    def __str__
    def __get_package_version__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: